@model s2Games.Models.game
@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Manutenção de Game</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-lg-12">
                    <input type="text" class="form-control" placeholder="Nome do Jogo" value="@Model.nome" id="txtNome">
                    <input type="hidden" value="@Model.codigo" id="hdnCodigo" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="Salvar()">Salvar</button>&nbsp;
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div>

</div>