
@{
    ViewBag.Title = "Amigos";
}

<div class="div-main" id="div-main">

</div>

<div id="myModal" class="modal fade" role="dialog">
   
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/amigo")
<script>
    iniciar();
</script>